.top {
    top: 10px;
    left: 10px;
}

.bottom {
    bottom: 10px;
    left: 10px;
}

.left {
    top: 10px;
    left: 10px;
    width: 110px;
    height: 251px;
}

.right {
    right: 10px;
    bottom: 10px;
    width: 90px;
    height: 256px;
}

.offset {
    left: 30px;
}

.offsetRight {
    right: 40px;
}
